[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = swift ????? ????? ???.
[access "refs/*"]
	owner = group user/Howard.2 (Howard-HW)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Howard.2 (Howard-HW)
	label-Verified = -1..+1 group user/Howard.2 (Howard-HW)
	push = group user/Howard.2 (Howard-HW)
	read = group user/Howard.2 (Howard-HW)
	rebase = group user/Howard.2 (Howard-HW)
	removeReviewer = group user/Howard.2 (Howard-HW)
	submit = group user/Howard.2 (Howard-HW)
[access "refs/heads/*"]
	create = group user/Howard.2 (Howard-HW)
	push = +force group user/Howard.2 (Howard-HW)
	pushMerge = group user/Howard.2 (Howard-HW)
	read = group user/Howard.2 (Howard-HW)
[access "refs/tags/*"]
	push = group user/Howard.2 (Howard-HW)
	push = +force group user/Howard.2 (Howard-HW)
